<% content_for :title, "Spelling" %>

<h1 class="text-center">4: Spelling</h1>
<br>

<div class="booyah-box col-xs-10 col-xs-offset-1">
  
  <br>

  <div class="text-center">
    <%= image_tag(@word.image, class: 'img-responsive') %>
  </div>

  <br>

  <!-- Testing form -->
  <%= simple_form_for @word, url: lesson_image_spelling_path(current_lesson, @word.word), method: :patch do |f| %>
    <%= f.input :spelling_attempt, input_html: { id: 'txt' }, label: "Spell the word:" %>
    <%= render "static_pages/accents" %><br>
    <%= f.button :submit, "Submit", class: 'btn btn-primary' %>
  <% end %>

  <br>

  <div class="text-right">
    <mark><%= link_to 'Back to Lesson', lesson_path(current_lesson) %></mark>
  </div>
  
  <br>
  
</div>

<br class="clear">
<br>