<h1 class="text-center">1: Word Exposition</h1>
<br>

<div class="booyah-box col-xs-10 col-xs-offset-1">

  <!--  the term in this view is unselectable to force copying by hand-->
  <h2 class="text-center unselectable"><%= @word.term %></h2><br>

  <%= image_tag(@word.image, class: 'img-responsive') %><br>

  <div class="text-center">
    <%= audio_tag @word.sound, autoplay: true, class: "audio-play" %>
    <button type="button" class="btn btn-default btn-lg audio-button">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
  </div>

  <br>

  <!-- Testing form -->
  <%= simple_form_for @word, url: lesson_word_exposition_path(current_lesson, @word.word), method: :patch do |f| %>
    <%= f.input :term_given_by_student, label: "Enter the term exactly as above:" %><br>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>

</div>

<br class="clear">
<br>